

<form method="post" action="/links">
<input type="text" name="url" placeholder="Enter URL">
<input type="text" name="title" placeholder="Enter Title">
<input type="text" name="tag" placeholder="Enter Tag">
<button type="submit" value="Create link">Create Link!</button>
</form>

